@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
	ViewData["Title"] = Localizer["Suppliers"];
}
<style>
	.containerForm {
		width: 500px;
		clear: both;
	}

		.containerForm input {
			width: 100%;
			clear: both;
		}
</style>


<div class="supplierListDiv">
		<table class="table table-dark supplierTable">
			<thead>
			<h1>@Localizer["Suppliers"]</h1>
			<a class="btn btn-outline-success"  id="addBtn">@Localizer["Add Supplier"]</a>
				<tr>
				    <td>@Localizer["Company Name"]</td>
					<td>@Localizer["Contact Name"]</td>
					<td>@Localizer["Address"]</td>
					<td>@Localizer["City"]</td>
					<td>@Localizer["Country"]</td>
					<td>@Localizer["Phone"]</td>
					<td>@Localizer["Update"]</td>
					<td>@Localizer["Delete"	 ]</td>

				</tr>
			</thead>
			<tbody>
				<tr>
				   <td class="supplierCompany"></td>
					<td class="supplierContact"></td>
					<td class="supplierAddress"></td>
					<td class="supplierCity"></td>
					<td class="supplierCountry"></td>
					<td class="supplierPhone"></td>
					<td>
						<span>
						<a class=" btn btn-primary " id="updateBtn" name="updateBtn"  data-id="">@Localizer["Update"]</a>
						</span>
					</td>
				<td>
					<span>
						<a class=" btn btn-danger deleteBtn" data-id="">@Localizer["Delete"]</a>
					</span>
				</td>
				</tr>
			</tbody>
		</table>
	</div>


<!-- ---------------------------         MODAL FİELD ------------------------------------------- -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="containerForm">
					<form id="infoForm">
						<div class="form-group">
							<label align="left">@Localizer["Company Name"] </label>
							<input id="companyName" name="companyName" align="center" required maxlength="40" />
							<span class="error text-danger companyError" hidden="hidden">@Localizer["companyError"]</span>

						</div>
						<div class="form-group">
							<label align="left">@Localizer["Contact Name"] </label>
							<input id="contactName" name="contactName" align="center" required maxlength="30" />
							<span class="error text-danger contactError" hidden="hidden">@Localizer["contactError"]</span>

						</div>
						<div class="form-group">
							<label align="left">@Localizer["Address"] </label>
							<input id="address" name="address" align="center" required maxlength="60" />
							<span class="error text-danger addressError" hidden="hidden">@Localizer["addressError"]</span>
						</div>
						<div class="form-group">
							<label>@Localizer["City"]</label>
							<input id="city" name="city" required maxlength="15" />
							<span class="error text-danger cityError" hidden="hidden">@Localizer["cityError"]</span>
						</div>
						<div class="form-group">
							<label>@Localizer["Country"]</label>
							<input id="country" name="country" required maxlength="15" />
							<span class="error text-danger countryError" hidden="hidden">@Localizer["countryError"]</span>
						</div>
						<div class="form-group">
							<label>@Localizer["Phone"] </label>
							<input id="phone" name="phone" required />
							<span class="error text-danger phoneError" hidden="hidden">@Localizer["phoneError"]</span>

						</div>
						<div class="form-group">
							<a class="btn btn-primary" id="updateSupplier" data-id="">@Localizer["Update"]</a>
							<a class="btn btn-primary" id="addSupplier" data-id="">@Localizer["Create"]</a>

						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
			</div>
		</div>
	</div>
</div>





<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
	$(document).ready(function(){
	    loadDataFromAjax();

	   

		//-------------------------SUPPLIERLIST AJAX REQUEST-----------------------------------//

		var baseRow=$(".supplierTable tbody tr").first().clone();
		function loadDataFromAjax(){
		$.ajax({
			url: "@Url.Action("GetAll","Supplier")",
			method:"GET",
			success:function(res){
				console.log("Success");
				console.log("result:",res);
				$.each(res,function(index,value){
					createRow(value);
				});
				$(".supplierTable tbody tr ").first().remove();

			},error:function(res){
				alert("Failed:"+res);
			}
		});

		};


		//----------------------Update Clicked From Table-------------------------------------//
		$(document).on("click", "#updateBtn", function (event) {
			var supplierId = $(event.currentTarget).attr("data-id");
			console.log("Update Clicked");
			console.log("supplierIdFirst:", supplierId);
			$("#updateSupplier").attr("data-id", supplierId);
			
			getSelectedSupplier(supplierId);


			$("#updateSupplier").show();
			$("#addSupplier").hide();
			$("#exampleModal").modal("show");
			$("#exampleModalLabel").text("@Localizer["Update"]");

		});


		//------------------------Add Clicked From Table-------------------------------------//
		$(document).on("click", "#addBtn",function(){

			//-----Form Clean Form------//
			$("#companyName").val(" ");
			$("#contactName").val(" ");
			$("#address").val(" ");
			$("#city").val(" ");
			$("#country").val(" ");
			$("#phone").val(" ");
			//----------------------------//
			$("#addSupplier").show();
			$("#updateSupplier").hide();
			$("#exampleModal").modal("show");
			$("#exampleModalLabel").text("@Localizer["Create"]");


		});


		//-------------------------UPDATE AJAX REQUEST----------------------------------------//

		$(document).on("click", "#updateSupplier",function(event){
			if ($("#infoForm").valid()){
			var supplierID = $(event.currentTarget).attr("data-id");
			        var data = { 
						"CompanyName":$("#companyName").val(),
						"ContactName": $("#contactName").val(),
						"Address": $("#address").val(),
						"City": $("#city").val(),
						"Country": $("#country").val(),
						"Phone": $("#phone").val(),
				        "SupplierID": supplierID
					};


           	    console.log("UpdateSupplier CLicked data:",data);
			    console.log("supplierId:", supplierID);

			$.ajax({
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					url: "@Url.Action("Edit","Supplier")",
					method: "POST",
					data: JSON.stringify(data),

					success: function (res) {
						alert("@Localizer["UpdateSuccess"]");
						$(".supplierTable tbody tr").remove();
						loadDataFromAjax();
						$("#exampleModal").modal("hide");
						console.log("Successful");
						createRow(data);
					}, error: function (res) {
						alert("Failed:" + res);
					}
			});

			}
			else {
				alert("@Localizer["formControlWarning"]");
			}
		});

		//-------------------------CREATE AJAX REQUEST-----------------------------------------//

		$(document).on("click", "#addSupplier", function () {

			if ($("#infoForm").valid()) {
				var supplierToCreate = {
					"CompanyName": $("#companyName").val(),
					"ContactName": $("#contactName").val(),
					"Address": $("#address").val(),
					"City": $("#city").val(),
					"Country": $("#country").val(),
					"Phone": $("#phone").val()
				};

				$.ajax({
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					url: "@Url.Action("Add","Supplier")",
					data: JSON.stringify(supplierToCreate),
					method: "POST",

					success: function (res) {
						alert("@Localizer["CreateSuccess"]");
						$("#exampleModal").modal("hide");
						console.log("Successful REs:", res);


						createRow(res);
					}, error: function (res) {
						alert("Failed:" + res);
					}



				});

			     }
			else{
				alert("@Localizer["formControlWarning"]");
			};
							




		});



		//-------------------------DELETE AJAX REQUEST-------------------------------------------//

		$(document).on("click", ".deleteBtn", function (event) {
			var supplierIdToDelete = $(event.currentTarget).attr("data-id");
			if (confirm("@Localizer["DeleteConfirm"]")) {
					$.ajax({

						url: "@Url.Action("Delete","Supplier")",
						method: "POST",
						data: { "supplierId": supplierIdToDelete },
							success: function (res) {
						alert("@Localizer["DeleteSuccess"]");
							$(event.currentTarget).parent().parent().parent().remove();
							console.log("Successful");
						}, error: function (res) {
							alert("Failed:" + res);
						}

			         });

			}
			


		});


		//-------------------------GET ByID AJAX REQUEST-------------------------------------------//
		function getSelectedSupplier(supplierId) {
			var selected;
			$.ajax({

				url: "@Url.Action("GetById","Supplier")",
				method:"GET",
				data: { "supplierId": supplierId },
				success:function(res){
					console.log("loadedSupplierbyId:",res);

					$("#companyName").val(res.companyName);

					$("#contactName").val(res.contactName);

					$("#address").val(res.address);

					$("#city").val(res.city);

					$("#country").val(res.country);

					$("#phone").val(res.phone);


				},error:function(){
					console.log("Failed To Load Supplier!");
				}

			});
			return selected;



		}

		function createRow(res)
		{
			var tempRow = $(baseRow).clone();
			$(tempRow).find(".supplierCompany").first().text(res.companyName);
			$(tempRow).find(".supplierContact").first().text(res.contactName);
			$(tempRow).find(".supplierAddress").first().text(res.address);
			$(tempRow).find(".supplierCity").first().text(res.city);
			$(tempRow).find(".supplierCountry").first().text(res.country);
			$(tempRow).find(".supplierPhone").first().text(res.phone);
			$(tempRow).find("#updateBtn").first().attr("data-id", res.supplierID);
			$(tempRow).find(".deleteBtn").first().attr("data-id", res.supplierID);
			$(".supplierTable tbody").append(tempRow);

		}




		//------------------------Validation-------------------------------------//

	@{
		var currentRequestCulture = Context.Features.Get<IRequestCultureFeature>();

	};		
	

	 var lang="@currentRequestCulture.RequestCulture.UICulture.Name";
		console.log("lANGUAGE:"+lang);


	


			$("#infoForm").validate({
				errorClass: "error fail-alert",
				validClass: "valid success-alert",
				rules: {
					companyName: {
						required: true,
						minlength: 5,
						maxlength: 15
					},
					contactName: {
						required: true,
						minlength: 5,
						maxlength: 15
					},
					address: {
						required: true,
						minlength: 5,
						maxlength: 60
					},
					city: {
						required: true,
						minlength: 5,
						maxlength: 15
					},
					country: {
						required: true,
						minlength: 5,
						maxlength: 15
					},
					phone: {
						required: true,
						minlength: 9,
						maxlength:
						function(){
							console.log("lang",lang)
							if(lang=="en-US"){
								return 10;
							}else{
								return 11;
							}
						}
					}
				},
				messages: {
					companyName: {
						required: "Please fill this area",
					    minlength:" @Localizer["companyError"]"

					},
					contactName: {
						required: "Please fill this area",
						minlength:" @Localizer["contactError"]"
					},
					address: {
						required: "Please fill this area",
					minlength: "@Localizer["addressError"]"
					},
					city: {
						required: "Please fill this area",
					minlength:"@Localizer["cityError"]"
					},
					country: {
						required: "Please fill this area",
					minlength:"@Localizer["countryError"]"
					},
					phone: {
						required: "Please fill this area",
					minlength:"@Localizer["phoneError"]"

					}



				}


			});



	});

</script>
	 